/**********************************************************************/

/*BASIC SETUP*/

/**********************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  color: #3d3d3d;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 0
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/**********************************************************************/

/*REUSABLE*/

/**********************************************************************/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0 0;
}

.box {
  padding: 2%;
}

/*HEADINGS*/

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 240%;
  word-spacing: 3px;
  letter-spacing: 1px;
}

/*h2 wont center unless I add margin: 0 auto;*/

h2 {
  display: inline-block;
  font-size: 180%;
  word-spacing: 2px;
  margin: 0 auto;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/*Paragraphs*/

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

.section-features .long-copy {
  margin-bottom: 20px;
}

/*ICONS*/

.icon-big {
  display: block;
  font-size: 350%;
  color: #e67e22;
  margin-bottom: 10px;
}

/*BUTTONS*/

/*Applies to all buttons*/

.btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 90%;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
}

/*"I'm Hungry" Button*/

.btn-full {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #ffffff;
  margin-right: 15px;
}

/*"Show me more" Button*/

.btn-primary {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn.outline {
  background: none;
  color: #e67e22;
  padding: 12px 22px;
}

.btn-primary.outline {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .open>.dropdown-toggle.btn-primary {
  border: 1px solid #e67e22;
  color: #e67e22;
  background-color: #e67e22;
}

/**********************************************************************/

/*HEADER*/

/**********************************************************************/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img-css/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  list-style: none;
  position: absolute;
  right: 10%;
  margin-top: 20px;
  top: 5%;
}

.main-nav li {
  display: inline-inline-block;
  float: right;
  margin-left: 40px;
}

/*Remove blue formatting from anchor tags*/

a, a:link, a:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  color: #ffffff;
  transition: border-bottom 0.2s;
  padding-bottom: 8px;
  padding-top: 0px;
}

a:hover, a:active {
  border-bottom: 2px solid #e67e22;
}

/**********************************************************************/

/*Meals*/

/**********************************************************************/

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photos {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.meal-photos img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photos img:hover {
  opacity: 1;
  transform: scale(1);
}

/**********************************************************************/

/*How it works*/

/**********************************************************************/

.section-steps {
  background-color: rgb(246, 246, 246);
  padding: 50px;
}

.simpleH2 {
  margin-top: 50px;
}

.steps-box:first-child {
  text-align: right;
  padding: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 15px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  display: inline-block;
  color: #e67e22;
  border-radius: 50%;
  border: 2px solid #e67e22;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 2px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app:link, .btn-app:visited {
  border: none;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/**********************************************************************/

/*Cities*/

/**********************************************************************/

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.city-feature {
  margin-bottom: 5px;
  font-size: 90%;
}

.city-feature i {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 150%;
  margin-right: 10px;
  /*Aligning text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -4px;
}

.city-feature a {
  display: inline;
  color: #e67e22;
}

/**********************************************************************/

/*Testimonials*/

/**********************************************************************/

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)), url(img-css/back-customers.jpg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/**********************************************************************/

/*Sign up*/

/**********************************************************************/

.section-plans {
  background-color: rgb(241, 241, 241);
}

.plan-box {
  background-color: white;
  border-radius: 15px;
  width: 100%;
  height: 95%;
  ;
  margin-left: 5%;
  box-shadow: 0 2px 2px rgb(233, 233, 233);
}

.plan-box div {
  padding: 15px;
  border-top: 1px solid rgb(236, 236, 236);
}

.plan-box div:first-child {
  background-color: rgb(250, 250, 250);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.plan-box div:last-child {
  text-align: center;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

.plan-box i {
  display: inline;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 150%;
  margin-right: 10px;
  /*Aligning text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -4px;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}

/*
.plan-price span is a child of .plan-price
Therefore, the font size of the span is 30% of the parent class,
which is 300%, and not the base class with font-size of 18px
*/

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.section-plans a {
  text-transform: none;
  color: #e67e22;
}

.section-plans button {
  margin-top: 10px;
  margin-bottom: 30px;
}

.section-plans .btn-primary:hover a {
  color: white;
}

/************
INPUT FORM
********Will be different from Udemy course********
***********/

.contact-form {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
}

input[type=text], input[type=email], select, textarea, form-check {
  width: 100%;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

*:focus {
  outline: none;
}

/************Footer*****************/

footer {
  background-color: rgb(37, 37, 37);
  padding: 30px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li, .social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child, .social-links li:last-child {
  margin-right: : 0;
}

.footer-nav li a:link, .footer-nav li a:visited, .social-links li a:link, .social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover, .footer-nav li a:active {
  color: #ddd;
}

footer p {
  color: #888;
  text-align: center;
}

.social-links li a:link, .social-links li a:visited {
  font-size: 180%;
  transition: color 0.2s;
}

.social-links li a:hover {
  color: white;
}
